<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".StartApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LocoDriver"
        tools:targetApi="35">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LocoDriver.Splash">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="application/route"
                    android:scheme="content" />

                <data android:scheme="content" />
                <data android:scheme="*" />
                <data android:mimeType="*/*" />
<!--                <data android:mimeType="application/vnd.com.z_company.loco_driver.route" />-->
            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.z_company.loco_driver.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />

    </application>

    <!--    <queries>-->
    <!--        <intent>-->
    <!--            <action android:name="android.intent.action.VIEW" />-->
    <!--            <data android:mimeType="application/vnd.com.z_company.loco_driver.route" />-->
    <!--        </intent>-->
    <!--        <intent>-->
    <!--            <action android:name="android.intent.action.SEND" />-->
    <!--            <data android:mimeType="application/vnd.com.z_company.loco_driver.route" />-->
    <!--        </intent>-->
    <!--    </queries>-->

</manifest>